{% extends "base.html.twig" %}

{% block title %}PHP Starred Repos{% endblock %}

{% block body %}
<div class="container mt-3">
	<div class="d-flex justify-content-end mb-2">
		<a href="{{ path("create") }}" class="btn btn-primary">Add Repos</a>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Repository Name</th>
				<th scope="col">Stars Count</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
            {% for repo in repos %}
            {# @var repo App\Entity\GitHub #}
                <tr>
                    <td>{{ repo.name }}</td>
                    <td>{{ repo.starGazersCount }}</td>
                    <td><a href="{{ path("details", {'id': repo.id}) }}" class="btn btn-secondary btn-sm">Details</a></td>
                </tr>
            {% endfor %}
		</tbody>
	</table>
</div>
{% endblock body %}
